# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Distribution folders
build/
dist/
*.egg-info/

# Logs
logs/
*.log

# VS Code settings
.vscode/

# Environment
venv/
.env

# OS files
.DS_Store
Thumbs.db
